<% layout("layout/boilerplate.ejs") %>

<div class="alert alert-danger d-flex align-items-center" role="alert">
    <h3><%= message %></h3>
  </div>
  <div class="container" style="height: 60vh;"></div>